/* CSS Modern Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: minmax(max-content, 16vw) 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100%;
  transition: all 0.2s ease;
}

.material-symbols-outlined {
  line-height: 1.5;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
}

.header .top-sidebar {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: start;
}

.header h1 {
  grid-column: 2 / 3;
  justify-self: center;
}

.main {
  grid-area: main;
}

/* SIDEBAR */

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  row-gap: 16px;
  width: 250px;
  overflow: hidden;
  background-color: hsl(30, 40%, 97%);
  transition: transform 0.2s ease;
}

.collapse-sidebar {
  transform: translateX(-100%);
}

.collapse-grid {
  grid-template-columns: 0 1fr;
}

/* Sidebar Containers */

.projects,
.task-categories {
  display: grid;
  padding: 0 12px 0 12px;
}

/* Sidebar Elements */

.top-sidebar {
  display: flex;
  justify-content: end;
  padding: 8px 16px 0 0;
}

.top-sidebar .material-symbols-outlined:hover {
  color: gray;
  cursor: pointer;
}

.task-categories div,
.projects div {
  font-size: 18px;
  padding: 8px 0 8px 8px;
  border-radius: 4px;
}

.task-categories div:hover,
.projects div:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

.add-task-btn {
  border: none;
  background-color: hsl(30, 40%, 97%);
}

.add-task-btn:hover .hover {
  font-variation-settings: "FILL" 1, "wght" 700;
  color: hsl(0, 0%, 60%);
}

.add-project:hover .material-symbols-outlined {
  cursor: pointer;
}

.edit-task-form {
  display: none;
}

.new-project-form {
  display: none;
}

/* Helper Classes */

.flexbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: background 0.2s;
}

.checkbox.checked {
  background: dodgerblue;
  position: relative;
}

.checkbox.checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 4px;
}
